!!!
%html
  %head
    %meta(property="og:title" content="Ruby Bots - Simple and powerful Ruby-oriented infrastructure for your web applications")
    %meta(property="og:type" content="product")
    %meta(property="og:url" content="http://rubybots.com")
    %meta(property="og:image" content="http://400x300.com/wp-content/uploads/2011/07/rubybot-preview-300x400.jpg")
    %meta(property="og:site_name" content="RubyBots.com")
    %meta(property="fb:admins" content="1622750594")

    %title= "Ruby Bots hosting platform"
    %link(rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen")
    /[if IE 7]
      %link(rel="stylesheet" href="/stylesheets/styles-ie7.css" type="text/css" media="screen")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript")
    %script(src="/javascripts/application.js" type="text/javascript")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3139230-11']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=185232708181226";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #container
      #logo
      #grsmv
        %a(href="http://grsmv.com")
        .hover

      #mail-form
        #thanks
        #text
        #terminal
        %form(method="post" action="/remember" id="form")
          #input
            %input(type="text" name="mail" id="mail")
          #submit
            %input(type="submit" value=".")

      #content
        #whats-inside
          .title
          .subtitle= "Every managed virtual private server will include:"
          #properties
            %span(class="key")= "Operating system"
            %span(class="value")= "Ubuntu Linux Server Edition"

            %span(class="key")= "Web server stack"
            %span(class="value") 
              %span= "Passenger"
              %span(class="arrow")= " > "
              %span= "Varnish"
              %span(class="arrow")= " > "
              %span= "Nginx"

            %span(class="key")= "Ruby versions"
            %span(class="tooltip")= "You can select different Ruby versions for each application"
            %span(class="help")
            %span(class="value")= "Ree 1.8.7, MRI 1.8.7, Ruby 1.9.2"

            %span(class="key")= "Frameworks"
            %span(class="value")= "Rails, Merb, Sinatra, Nitro"

            %span(class="key")= "SQL databases"
            %span(class="value")= "MySQL, PostgresSQL, SQLite"

            %span(class="key")= "NoSQL databases"
            %span(class="value")= "MongoDB, CouchDB, Redis"

            %span(class="key")= "Search engines"
            %span(class="value")= "Sphinx, Xapian, Ferret"

            %span(class="key")= "Version control"
            %span(class="value")= "Git, Mercurial, Subversion"

            %span(class="key")= "Gem for CLI"
            %span(class="tooltip")
              %span(class="irony")= "Command Line Interface "
              %span= "for terminal addicts"
            %span(class="help")
            %span(class="value")
              %span= "yes"
              #command-line
                .b= "gem install rubybots"
                .a

            %span(class="key")= "Node.js"
            %span(class="value")= "yes"

        #main-goal
          .title
          .text= "The main goal of Ruby Bots hosting platform is to create a comfortable, powerful, secure, and inexpensive hosting service for Ruby developers. Based on our extensive experience in web development, we've created Ruby Bots to provide all the tools and services needed for fast and quality web development in the beautiful Ruby language."

        #beta-testing
          .title
          .text
            %p= "If you're one of the few and proud that entered your email, we'll be sending you your beta test invite as soon as possible. If you're interested in testing Ruby Bots, well scroll on up there and put your email in! You won't regret it."
            %p(class="alone")= "If you have any questions, please feel free to email us at "
            %a(href="mailto://mail@rubybots.com")= "mail@rubybots.com"
      
      .fb-like(data-href="http://rubybots.com" data-send="true" data-width="450" data-show-faces="false" data-colorscheme="dark" data-font="arial")
