/* // CSS Reset // */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- CSS Reset -- */

body {
  background:#192026;
}

div#container {
  width:860px;
  background:url(/images/rubybot.jpg) no-repeat center top;
  margin:0 auto !important;
}

div#logo {
  width:210px;
  height:85px;
  background:url(/images/sprite.png) no-repeat 0 -148px;
  position:absolute;
  top:109px;
}

div#grsmv,
div#grsmv div.hover {
  width:126px;
  height:34px;
  background:url(/images/sprite.png) no-repeat 0 -32px;
  position:absolute;
  top:128px;
  margin:0 0 0 735px;
  z-index:1;
}

  div#grsmv div.hover {
    background-position:0 -66px;
    margin:0;
    position:relative;
    top:0;
    display:none;
    z-index:2;
  }

  div#grsmv a {
    position:absolute;
    width:100%;
    height:100%;
    z-index:3;
  }

div#mail-form {
  padding:630px 0 0 0;
  width:100%;
  clear:both;
  height:80px;
}

  div#mail-form div#thanks {
    width:404px;
    height:33px;
    background:url(/images/sprite.png) no-repeat 0 -287px;
    position:absolute;
    margin-left:230px;
    margin-top:8px;
    display:none;
  }

  div#mail-form div#text {
    width:189px;
    height:28px;
    background:url(/images/please_left_text.png) no-repeat 0 0;
    float:left;
    margin:0 0 0 125px;
  }

  div#mail-form div#terminal {
    width:13px;
    height:40px;
    background:url(/images/sprite.png) no-repeat -210px -176px;
    position:absolute;
    margin:6px 0 0 343px;
  }

  div#mail-form div#input {
    float:left;
    margin:0 0 0 21px;
    width:392px;
    height:53px;
    background:url(/images/sprite.png) no-repeat 0 -234px;
  }

    div#mail-form div#input input {
      border:none;
      outline:none;
      background:none;
      font:normal 24px arial, tahoma, sans-serif;
      color:#7dc2f8;
      padding:0 0 0 15px;
      margin:12px 0 0 0;
      width:358px;
    }

  div#mail-form div#submit input {
    width:107px;
    height:102px;
    background:url(/images/sprite.png) no-repeat -390px -32px;
    border:none;
    color:#333;
    text-align:left;
    cursor:pointer;
    margin:-27px 0 0 -10px;
    outline:none
  }

    div#mail-form div#submit input:hover {
      background-position:-390px -139px !important;
    }

div#whats-inside {
  width:47%;
  float:left;
  margin-right:8%;
  text-align:right;
  padding-top:70px;
  padding-bottom:50px;
  font:normal 13px arial, tahoma, sans-serif;
}

  div#whats-inside div.title {
    height:28px;
    margin-bottom:20px;
    width:207px;
    background:url(/images/sprite.png) no-repeat -24px -100px;
    margin-left:auto;
  }

  div#whats-inside div.subtitle {
    font:normal 13px/19px arial, tahoma, sans-serif;
    color:#707070;
    text-shadow:#000 0 1px 0;
    padding-bottom:30px;
  }

  div#whats-inside span.key {
    display:inline-block;
    width:30%;
    color:#707070;
    text-shadow:#000 0 1px 0;
    padding:10px 25px 10px 0;
    z-index:1;
    
  }

  div#whats-inside span.value {
    display:inline-block;
    width:52%;
    color:#b6b7b7;
    text-shadow:#000 0 1px 0;
    text-align:left;
    padding:10px 0 10px 23px;
    border-left:1px solid #363636;
    z-index:1;
    
  }

    div#whats-inside span.value span.arrow {
      color:#999;
      font-size:10px;
      padding:0 3px;
    }

    div#whats-inside span.value div#command-line {
      display:inline-block;
      font:normal 11px monaco, consolas, monospace;
      background:#333;
      padding:0 5px;
      margin:-1px 0 0 5px;
      border-radius:3px;
      color:#fff;
    }

  div#whats-inside span.tooltip {
    width:171px;
    height:58px;
    background:url(/images/sprite.png) no-repeat -126px -32px;
    position:absolute;
    text-align:center;
    font:normal 11px/14px arial, tahoma, sans-serif;
    color:#b6b7b7;
    padding:10px 0 0 0;
    z-index:2;
    margin:-54px 0 0 -85px;
    display:none;
    z-index:2;
  }

    div#whats-inside span.tooltip span.irony {
      font-style:italic;
    }

  div#whats-inside span.help {
    position:absolute;
    width:24px;
    height:24px;
    background:url(/images/sprite.png) no-repeat 0 -124px;
    cursor:pointer;
    margin:-28px 0 0 158px;
    z-index:1;
    display:block
  }

    div#whats-inside span.help:hover {
      background-position:0 -100px;
    }

div#main-goal,
div#beta-testing {
  padding-top:70px;
  color:#707070;
  font:normal 13px/24px arial, tahoma, sans-serif;
  text-shadow:#000 0 1px 0;
  display:table
}

div#beta-testing {
  padding-top:40px;
}

  div#main-goal div.title,
  div#beta-testing div.title {
    height:32px;
    margin-bottom:16px;
    background:url(/images/sprite.png) no-repeat;
  }

  div#main-goal div.title {
    width:139px;
    background-position:-179px 0;
  }

  div#beta-testing div.title {
    width:167px;
    background-position:0 0;
  }

  div#beta-testing p.alone {
    padding-top:20px;
  }

  div#beta-testing a {
    text-decoration:none;
    color:#a0b4c4;
    border-bottom:1px solid #a0b4c4;
    padding-bottom:2px;
  }

    div#beta-testing a:hover {
      color:#60b6fa;
      border-bottom-color:#60b6fa;
    }

 div.fb-like {
   margin:20px auto 40px !important;
   padding:0 auto !important;
   display:block;
   /*border:1px solid red;*/
   width: 300px
 }
