div#mail-form div#terminal {
  margin:6px 0 0 33px;
}

div#mail-form div#input input {
  padding:0 0 0 0px;
}

div#whats-inside span.help {
  margin:-30px 0 0 -11px;
}

div#whats-inside span.value div#command-line {
  display:inline-block;
  position:absolute;
  margin:3px 0 0 5px
}